# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
**/__pycache__
.DS_Store
*/.aws-sam/*

# Jupyter Notebook
.ipynb_checkpoints

# Credentials File
dwh.cfg

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml